@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    src: url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Thin.woff2) format('woff2'), url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Thin.woff) format('woff');
}

::selection {
  background-color: rgba(0, 190, 162, 1);
}

html, body {
    font-family: 'Lab Grotesque', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: rgba(0, 0, 0, .88);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vh;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    gap: .9rem;
    background-color: rgba(0, 190, 162, .3);
    border-radius: 24px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.container-head {
    display: flex;
    align-items: end;
}

.container-head h1 {
    margin: 0;
    font-weight: 900;
}

.loading-dots span {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    animation: fadeDot 1.4s ease-in-out infinite;
    opacity: 0; 
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeDot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form {
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

#inp-1 {
    margin: 1rem;
    padding: .3rem .6rem;
    width: 60vh;
    height: 3vh;
    outline: none;
    border-radius: 24px;
    border: solid rgba(0, 190, 162, .3) 2px;
    transition: border .2s ease;
    background-color: aliceblue;
    font-family: 'Lab Grotesque';
}

#inp-1:focus {
    border: solid rgba(0, 190, 162, .7) 5px;
}

#btn-1 {
    width: 20vh;
    height: 4vh;
    font-size: 12pt;
    border: solid rgba(0, 190, 162, .7)  2px;
    border-radius: 24px;
    transition: border .2s ease;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn-1:hover {
    width: 23vh;
    font-size: 13pt;
    background-color: rgba(0, 0, 0, .88);
    color: aliceblue;
}

.container-operator {
    display: none;
}

.container-operator-show {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 50vh;
    height: fit-content;
    border-radius: 24px;
    padding: 1rem 1rem;
    animation: bounce 0.5s ease-in infinite alternate;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container-operator-h {
    width: 90%;
}

.container-operator h1, h2, h3 {
    margin: .5rem;
}

.web-site-operator {
    margin: .5rem;
    text-decoration-line: none;
    color: black;
}

#btn-2 {
    border-radius: 100%;
    height: 3vh;
    width: 3vh;
    padding: 0;
    border: none;
    cursor: pointer;
    color: black;
    background-color: aliceblue;
    transition: all .3s ease;
}

#btn-2:hover {
    background-color: black;
    color: aliceblue;
}


.container-info h1, h2, h3 {
    margin: .5rem;

}


.btn-search {
    font-size: 12pt;
    color: black;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    user-select: none;
    margin-bottom: 1rem;
}

.container-info-how-search-show h4, p  {
    margin: 0.5rem;
    padding: 0;
}
.container-info-how-search h4, p {
    margin: 0.5rem;
    padding: 0;
}

.container-info-how-search {
    opacity: 0;
    visibility: hidden;
    max-height: 0;       
    overflow: hidden;    
    transition: max-height 0.8s ease, opacity 1.5s ease, visibility 1.5s ease;
}

.container-info-how-search-show {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    transition: max-height 0.8s ease, opacity 1.5s ease, visibility 1.5s ease;
}




@keyframes bounce {
  from {
    transform: translateY(0);
    
  }
  to {
    transform: translateY(-2px); 
  }
}

.navLink {
    position: absolute;
    top: 5vh;
    text-decoration-line: none;
    color: black;
}

ul {
    list-style-type: decimal;
    font-size: 14pt;
    font-weight: 800;
}


